@charset "utf-8";
.index-top { width:100%; height:36px; background:#323334; position:relative; }
.wrap { width: 100%; min-height: 100%; min-height: calc(100% - 100px); }
.wrap-bg { background: #f7f7f7 url(../images/bg.png) repeat center top; min-width: 320px; overflow: hidden; }
.main { width:100%; height:auto; margin-left: auto; margin-right: auto; }
/*banner*/
.banner, .b-img div{ height:469px; }
@media screen and (max-width:639px){.banner, .b-img div { height:235px; }}

/*表情列表*/
.series-banner { background: #37cab7; width: 100%; height: 178px; text-align: center; }
.series-banner img { width: 320px; height: 178px; }
.series-list { background: url(../images/series_bg.png) repeat-y center top; width: 100%; height: auto; min-height: 300px; text-align: center; overflow: hidden; padding-bottom: 15px; }
.series-list h2 { background: #ededed; width: 100%; height: 36px; line-height: 36px; font-size: 16px; text-align: left; border-bottom: 1px solid #e5e5e5;text-indent:12px; }
.series-list ul { width: 316px; margin: 0 auto; overflow: hidden; }
.series-list ul li { width: 156px; height: 156px; line-height: 156px; font-size: 14px; margin-bottom: 2px; margin-right: 2px; background: #ededed; float: left; position: relative; }
.series-list ul li img { width: 100%; height: 100%; }
.series-list ul li a.details { width: 100%; height: 100%; }
.series-list ul li .signs-left,  .series-list ul li .signs-right { width: 10px; height: 16px; position: absolute; z-index: 1; margin-top: 70px; }
.series-list ul li .signs-left { margin-right: -2px;right:0; background: url(../images/signs_left.png) no-repeat; background-size:cover; }
.series-list ul li .signs-right { margin-left: -2px; background: url(../images/signs_right.png) no-repeat; background-size:cover; }
.series-list ul li.last { margin-left: 0; }
.open-down { background: #ededed; width: 314px; height: 36px; line-height: 36px; font-size: 14px; }
.open-down a { width: 100%; height: 100%; display: block; margin:0 auto 0; }


/*表情详情*/
.series-info { width: calc(100% - 20px); height: auto; overflow: hidden; padding: 0 10px; }
.series-info ul { width: 96%; max-width: 360px; margin: 0 auto; text-align: center; }
.series-info ul li { background: #000; width: 90px; height: 90px; border: 3px solid #dbdbdb; border-radius:50%; overflow: hidden; position: relative; display: inline-block; }
.series-info ul li.cur { border: 3px solid #fff; }
.series-info ul li img { width: 100%; height: 100%; opacity: 0.5; }
.series-info ul li.cur img { opacity: 1; }
.series-box { width: calc(100% - 20px); height: auto; overflow: hidden; padding: 0 10px; }
.series-content-box { width: 100%; height: auto; overflow: hidden; position: relative; }
.series-content-ico { width: 23px; height: 12px; background: url(../images/series_icon.png) no-repeat; left:0; right:0; margin: 0 auto; z-index: 1; position:absolute; }
.series-content { width:auto; height: auto; color: #8d8d8d; background: #fff; border: 1px solid #e3e3e3; border-radius: 4px; padding: 20px 10px 15px; margin-top: 11px; overflow: hidden; }
.series-content img { padding: 2%; max-width: 20%; height: auto;}
.series-content h3 { width: auto; height: auto; overflow: hidden; color: #000; margin-bottom: 20px; vertical-align:middle; }
.series-content h3 a { width: auto; height: auto; line-height: 35px; font-size: 16px; background: #f997bc; text-align: center; color:#fff; border-radius:4px; display: block; float: right; padding: 0 10px; }
.series-content h5 { text-align: center; }

/*新闻*/
.news { width: auto; height: auto; overflow: hidden; padding: 0 15px; }
.news-title-line { width: 45px; height: 3px; background: #36cab6; margin-left: auto; margin-right: auto; }
.news .title { width: 100%; height: 18px; line-height: 18px; text-align: left;  }
.news .title i { font-size: 16px; max-width: calc(100% - 90px); height: auto; font-style: normal; overflow:hidden;  }
.news .title i.date { font-size: 12px; height: auto; color: #c4c4c4; text-align: right; float: right; }
.news ul li { background: #fff; width: auto; margin-bottom: 18px; padding: 10px; border: 1px solid #e3e3e3; border-radius: 4px; vertical-align:middle; }
.news ul li .summary { width: 100%; height: auto; color: #7c7c7c; overflow: hidden; padding-top: 10px; }
.news ul li img { max-width: 100%; }
.summary p.all { font-size: 16px; padding-top: 10px; color: #3d3d3d; }
.pager { width: 100%; text-align: center; }
.pager a { background: #fff; width: 40px; height: 40px; line-height: 40px; text-align: center; border: 1px solid #ededed; border-radius:4px; display: inline-block; }
.pager a.selected { color: #36cab6; }
.pager a.flip { width: 90px; margin: 0;}

/*下载页面*/
.download-banner { width: 100%; height: 490px; background: url(../images/download_banner.jpg) no-repeat center top; }
.licence { font-size: 22px; }
.licence a { color: #36cab6; }
.licence i { width: 30px; height: 30px; background: url(../images/images.png) no-repeat 0 0; display: inline-block; vertical-align:middle; }
.licence a.down { width: 180px; height: 50px; line-height: 50px; background: #36cab6; color:#fff; display: inline-block; border-radius:8px; text-align: center; }
.licence a.down:hover { background: #38b4a3; }
.download-box { width: 720px; height: auto; margin: 30px auto 100px; overflow: hidden; }
.download-box dl { width: 320px; height: auto; font-size: 18px; color: #606060; }
.download-box dl dt { width: 320px; height: 88px; background: url(../images/download_model.png) no-repeat; position: relative; z-index: 1; }
.download-box dl dt.android { background-position: 0 0; }
.download-box dl dt.ios { background-position: 0 -88px; }
.download-box dl dd { border-right: 3px dashed #cbcbcb; border-bottom: 3px dashed #cbcbcb; border-left: 3px dashed #cbcbcb; padding: 37px 27px 27px; height: auto; width: 260px; border-radius: 15px; margin-top: -10px; }
.down-btn { line-height: 60px; display: inline-block; border-radius:10px; text-align: center; font-size: 24px; }
dd a.sdk { width: 260px; height: 60px; background: #36cab6; color:#fff; }
dd a.sdk:hover { background: #38b4a3; }
dd a.demo { width: 256px; height: 56px; color: #36cab6; border: 2px solid #36cab6; }
dd a.demo:hover { color: #b2e9e1; border: 2px solid #b2e9e1; }
.bg-gray { background: #fafafa; }
.download-open { width: 425px; height: auto; padding: 30px; margin: 30px auto 100px; overflow: hidden; border: 3px dashed #cbcbcb; border-radius: 15px; }
.download-open i { width: 260px; height: 60px; background: #d1d1d1; color: #fff; font-style: normal; }
.down-ico { vertical-align:middle; }
.bg-img { background: url(../images/down_bg.png) repeat; padding-top: 50px; padding-bottom: 60px; }
.down-im { width: 810px; height: 920px; margin-left: auto; margin-right: auto; position: relative; overflow: hidden; }
.down-im img.down-phone1 { position: absolute; top: 0; left: 0; }
.down-im img.down-phone2 { position: absolute; top: 372px; left: 533px; }
.im-text1 { position: absolute; top: 64px; left: 360px; }
.im-text2 { position: absolute; top: 580px; left: 50px; text-align: right; }
.im-btn { width: 205px; height: 56px; background: url(../images/images.png) no-repeat; display: inline-block; margin-top: 40px; }
.btn-android { background-position: 0 -164px; }
.btn-android:hover { background-position: 0 -230px; }
.btn-ios { background-position: -215px -164px; }
.btn-ios:hover { background-position: -215px -230px; }

/*友情链接*/
.links { width: 100%; text-align: center; }
.links ul { width: 100%; height: auto; overflow: hidden; padding-top: 40px; }
.links ul li { width: 30%; margin-left: 3%; margin-bottom: 15px; float: left; text-align: left; }
/*.links ul li { width: 190px; height:80px; line-height:80px; margin-left:6px; margin-bottom:6px; float:left; }*/
.links ul li img { max-width: 100%; max-height: 32px; width: auto; }
@media screen and (max-width:639px){
  /*.links ul li { width: 150px; height:64px; }*/
  /*.links ul li img { max-width:150px; }*/
}

/*关于我们*/
.about { width: calc(100% - 20px); height: auto; overflow: hidden; text-align: center; padding: 0 10px; }
.about_bg1 { background: #fafafa; padding-top: 15px; padding-bottom: 15px; }
.about_bg2 { background: url(../images/down_bg.png) repeat;  padding: 20px 10px; }
.about_bg3 { background: #fafafa; padding: 15px 10px; }
.about_link { max-width: 300px; margin: 0 auto; text-align: right; }
.about h2 { font-size: 18px; }
.about h3 { color: #a8a8a8; }
.about>h3 { font-size: 16px;}
.about img { max-width: 320px; height: auto; }
.about-product { width: 100%; height:auto; overflow:hidden; margin-left: auto; margin-right: auto; margin-top: 15px; }
.about-product ul li { width: 300px; position: relative; margin: 0 auto;}
.about-product ul li img { max-width: 100%; }
.product-text { background: #fff; /*width: calc(96% - 3px);*/ height: auto; text-align: left; border: 2px solid #f5f5f5; border-radius: 8px; overflow: hidden; padding: 2%; margin: -12px 0 15px; }
.product-text b { font-size: 14px; width: 100%; padding: 8px 0; display: block; }
.honours { width: 100%; height:auto; overflow:hidden; margin-left: auto; margin-right: auto; }
.honours .h-top { width: 100%; height: 32px; background: url(../images/about/honours_top_bg.png) no-repeat left top; }
.honours ul { width: 100%; height: auto; background: url(../images/about/honours_bg.png) repeat-y left top; overflow: hidden; }
.honours ul li { width: 100%; height: auto; padding-bottom: 40px; overflow: hidden; }
.honours ul li.last { padding-bottom: 0; }
.honours ul li dl dt { color: #414141; }
.honours ul li dl dd { color: #999; }
.honours ul li dl.left { width: 50px; float: left; text-align: right; margin-right: 10px; }
.honours ul li dl.right { width: calc(100% - 104px); height: auto; float: left; text-align: left; margin-left: 10px; }
.honours ul li i { width: 24px; height: 24px; display: block; float: left; }
.honours ul li i img { width: 100%; height: 100%; }
.culture { width: 320px; height: auto; overflow: hidden; margin: 0 auto; }
.culture ul { width: 80px; height: auto; overflow: hidden; float: left; }
.culture ul li { width: 80px; height: 80px; line-height: 80px; text-align: center; position: relative; padding-bottom: 24px; }
.culture ul.cd { padding-top: 30px; }
.culture ul li img { max-height: 75px; vertical-align:middle; }
.cuntact { width: 100%; height: auto; overflow: hidden; margin-left: auto; margin-right: auto; }
.cuntact ul li { width: 30%; height: auto; padding: 0 1%; overflow: hidden; float: left; word-break:break-all; }
.cuntact ul li h3 { font-size: 14px; }
.cuntact ul li a { text-decoration:underline; }

/*FAQ*/
.faq { width: 100%; height: auto; overflow: hidden; text-align: left; padding: 0 5%; }
.faq dl { margin-bottom: 30px; }
.faq dl dt { color: #303030;  font-size: 20px; }
.faq dl dd { font-size: 16px;  margin-top: 10px;  color: #878787;  line-height: 23px; }

/*SDK*/
.sdk-bg { background: #fafafa; width: 100%; height: auto; overflow: hidden; }
.sdk-bg1 { background:#fafafa url(../images/sdk_complete.png) no-repeat center bottom; background-size:100% auto; margin-bottom: -35px; }
.sdk-box { width: calc(100% - 20px); height:auto; margin: 20px auto 35px; overflow: hidden; }
.sdk-box .progress-barm { width: 300px; height: 50px; background: url(../images/sdk_bar.png);margin: 25px auto 40px; background-size:cover; }
table.sdk { margin: 0 auto; }
table.sdk th { font-size: 16px; font-weight: normal;}
table.sdk td { color:#a8a8a8; }
table.sdk th, table.sdk td { padding: 10px 5px; }
table.sdk .input-bg { width: 204px; height: 30px; line-height: 24px; border: 2px solid #e1e1e1; border-radius: 27px;}
table.sdk .input-ico1 { background:#fff url(../images/sdk_ipt1.png) no-repeat; background-size:26px; }
table.sdk .input-ico2 { background:#fff url(../images/sdk_ipt2.png) no-repeat; background-size:26px; }
table.sdk .input-ico3 { background:#fff url(../images/sdk_ipt3.png) no-repeat; background-size:26px; }
table.sdk .input-ico4 { background:#fff url(../images/sdk_ipt4.png) no-repeat; background-size:26px; }
table.sdk .input-ico5 { background:#fff url(../images/sdk_ipt5.png) no-repeat; background-size:26px; }
table.sdk .input-bg input { width: 170px; height: 20px; float: right; margin: 2px 5px 0 0; font-size: 14px; border: none; }
table.sdk input.btn { width: 208px; height: 28px; line-height: 28px; background: #36cab6; text-align: center; color: #fff; font-size: 16px; border: none; cursor: pointer;border-radius: 27px; padding: 0; }
.sdk-c { width: 60%; height: auto; padding: 10% 20% 240px; color: #a8a8a8; font-size: 16px; text-align: center; overflow: hidden; table-layout:fixed; word-break: break-all; }

/*服务协议*/
.protocol { padding: 20px; background: #EAE9E9; border-radius: 5px; line-height: 25px; font-size: 14px; }
.protocol p { margin: 0 0 1em; }
.protocol ul li { list-style-type: disc; text-indent:2em; list-style-position:inside; }
.protocol ul li ul li { list-style-type: circle; text-indent:4em; }

.visiablebanner { width: 100%; height: 54px; }
